*{  margin : 0;
    padding: 0;
    text-align: center;
}
.dropdown{
    position: relative;
    display: inline-block;
    margin-top: 40px;
    font-weight: bold;
}
.button{
    font-size:14px;
    color: rgb(0, 0, 0);
}
#drop-content{
    position: absolute;
    display: none;
    z-index: 1;
    right: 0;
    top: 100px;
}
#drop-content> a{
    display:block;
    font-size: 14px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    margin: 2px 0px 0px 0px;
}